#Visual Studio files
*.[Oo]bj
*.user
*.lastbuildstate
*.tlog
*.db
*.vcxproj
*.filters
*.obj
*.idb
*.pdb
*.exe
*.ilk
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
ipch/
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad
